body {
	background-color: gray;
}

.unchecked {
	filter: grayscale(100%);
	opacity: 0.5;
}

.item {
	width: 36px;
	position: absolute;
}

.container {
	display: flex;
}

.column {
	flex-direction: column;
}

.hyrule-field {
	width: 700px;
}

.termina-field {
	width: 690px;
}

.settings {
	background-color: gold;
}

.check {

}

.display-none {
	display: none;
}